:root {
  --pale-blue: #DDDBFF;
  --grayish-: #848794;
  --dark-blue: #1D2C67;
  --very-dark-blue: #0C112C;
  --grandient1: #FFDEDB;
  --grandient2: #FF4C96;
  --font-size: 14px;
  --font-family: "Raleway", sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

body {
  background-color: var(--very-dark-blue);
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size);
  color: var(--pale-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

main {
  margin: 0;
  margin-top: -150px;
  display: flex;
}
main .menu {
  margin-right: 20px;
  width: 300px;
  border-radius: 5px 100px 5px 5px;
  background-color: var(--dark-blue);
}
main .menu .logo {
  margin-top: 30px;
  margin-left: 20px;
}
main .menu .lower-buttons {
  display: flex;
  align-items: flex-start;
  margin-left: 5px;
  margin-bottom: 20px;
}
main .menu .lower-buttons figure {
  background-color: var(--very-dark-blue);
  height: 40px;
  width: 40px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .status {
  position: relative;
  background-color: var(--dark-blue);
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .status__bubble {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 130px;
  right: 20px;
  top: 20px;
  background-color: white;
  color: black;
  border: var(--pale-blue) 1px solid;
  border-radius: 10px 10px 0px 10px;
}
main .status__bubble::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 91%;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-top-color: white;
  border-bottom: 0;
  border-right: 0;
  margin-left: -5px;
  margin-bottom: -10px;
}
main .status__upper {
  display: flex;
  justify-content: flex-start;
  margin: 0 20px;
}
main .status__lower {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}

.attribution {
  position: absolute;
  bottom: 0;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}