:root {
  --pale-blue: #DDDBFF;
  --grayish-blue: #848794;
  --dark-blue: #1D2C67;
  --very-dark-blue: #0C112C;
  --gradient1: #FFDEDB;
  --gradient2: #FF4C96;
  --font-size: 14px;
  --font-family: "Raleway", sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

body {
  background-color: var(--very-dark-blue);
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size);
  color: var(--pale-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("../images/bg-desktop.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: 100% auto;
}

main {
  margin: 0;
  margin-top: -30px;
  display: flex;
}
main .menu {
  margin-right: 20px;
  width: 300px;
  border-radius: 5px 100px 5px 5px;
  background-color: var(--dark-blue);
}
main .menu .logo {
  margin-top: 30px;
  margin-left: 20px;
}
main .menu .lower-buttons {
  display: flex;
  align-items: flex-start;
  margin-left: 5px;
  margin-bottom: 20px;
}
main .menu .lower-buttons figure {
  background-color: var(--very-dark-blue);
  height: 40px;
  width: 40px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .menu .lower-buttons figure:hover {
  cursor: pointer;
  background-color: var(--dark-blue);
}
main .status {
  position: relative;
  bottom: -45px;
  background-color: var(--dark-blue);
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  height: 120px;
}
main .status__bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 160px;
  right: 45px;
  top: -30px;
  height: 50px;
  background-color: white;
  color: black;
  border: white 1px solid;
  border-radius: 10px 10px 0px 10px;
}
main .status__bubble p {
  display: flex;
  align-items: center;
  margin: 0;
  color: var(--grayish-blue);
}
main .status__bubble p b {
  font-size: 30px;
  color: #000;
  margin-right: 5px;
}
main .status__bubble::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 94.5%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: white;
  border-bottom: 0;
  border-right: 0;
  margin-left: -10px;
  margin-bottom: -21px;
}
main .status__upper {
  display: flex;
  justify-content: flex-start;
  margin: 0 20px;
}
main .status__bar__wraper {
  display: flex;
  justify-content: center;
  width: 100%;
}
main .status__bar__wraper .status__bar--background {
  display: flex;
  align-items: center;
  height: 20px;
  width: 83%;
  background-color: var(--very-dark-blue);
  border-radius: 10px;
}
main .status__bar__wraper .status__bar--background .status__bar--value {
  position: relative;
  width: 81%;
  height: 14px;
  background: linear-gradient(to right, var(--gradient1), var(--gradient2));
  border-radius: 30px;
  margin-left: 4px;
}
main .status__bar__wraper .status__bar--background .status__bar--value .status__bar--ball {
  position: absolute;
  right: 0;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: white;
}
main .status__lower {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
}

.attribution {
  position: absolute;
  bottom: 0;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (min-width: 1500px) {
  main {
    margin-top: -100px;
  }
}
@media screen and (min-width: 1700px) {
  main {
    margin-top: -150px;
  }
}
@media screen and (min-width: 1800px) {
  main {
    margin-top: -150px;
  }
}
@media screen and (max-width: 990px) {
  body {
    background-size: 990px auto;
  }
}
@media screen and (max-width: 830px) {
  body {
    background-image: url("../images/bg-mobile.png");
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
  }

  main {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 520px) {
  body main {
    width: 90%;
  }
  body main .menu {
    width: 90%;
  }
  body main .status {
    width: 90%;
  }
  body main .status__buble::after {
    display: none;
  }
}