$pale-blue: var(--pale-blue)
$gray-blue: var(--grayish-blue)
$dark-blue: var(--dark-blue)
$very-dark-blue: var(--very-dark-blue)
$gradient1: var(--gradient1)
$gradient2: var(--gradient2)
$font-size: var(--font-size)
$font-family: var(--font-family)
$font-weight-normal: var(--font-weight-normal)
$font-weight-bold: var(--font-weight-bold)

//! Layout Mobile 375px Desktop 1440px


:root
     --pale-blue: #DDDBFF
     --grayish-: #848794
     --dark-blue: #1D2C67
     --very-dark-blue: #0C112C
     --gradient1: #FFDEDB
     --gradient2: #FF4C96
     //Fonts
     --font-size: 14px
     --font-family: 'Raleway', sans-serif
     --font-weight-normal: 400
     --font-weight-bold: 700

body
     background-color: $very-dark-blue
     font-family: $font-family
     font-weight: $font-weight-normal
     font-size: $font-size
     color: $pale-blue
     display: flex
     justify-content: center
     align-items: center
     height: 100vh
     margin: 0
main
     margin: 0
     margin-top: -150px
     display: flex
     .menu
          margin-right: 20px
          width: 300px
          border-radius: 5px 100px 5px 5px
          background-color: $dark-blue
          .logo
               margin-top: 30px
               margin-left: 20px
          .lower-buttons
               display: flex
               align-items: flex-start
               margin-left: 5px
               margin-bottom: 20px
               figure
                    background-color: $very-dark-blue
                    height: 40px
                    width: 40px
                    border-radius: 10px
                    margin: 10px
                    display: flex
                    align-items: center
                    justify-content: center
     .status
          position: relative
          bottom: -45px
          background-color: $dark-blue
          width: 500px
          display: flex
          flex-direction: column
          justify-content: center
          border-radius: 10px
          height: 120px
          &__bubble
               display: flex
               justify-content: center
               align-items: center
               position: absolute
               width: 130px
               right: 30px
               top: -10px
               height: 40px
               background-color: white
               color: black
               border: white 1px solid
               border-radius:10px 10px 0px 10px
               p   
                    margin: 0
                    b   
                         font-size: 30px
               &::after
                    content: ''
                    position: absolute
                    bottom: 0
                    left: 93%
                    width: 0
                    height: 0
                    border: 20px solid transparent
                    border-top-color: white
                    border-bottom: 0
                    border-right: 0
                    margin-left: -10px
                    margin-bottom: -21px
          &__upper
               display: flex
               justify-content: flex-start
               margin: 0 20px
          //Bar Styles-----------------------
          &__bar__wraper
               display: flex
               justify-content: center
               width: 100%
               .status__bar--background
                    display: flex
                    align-items: center
                    height: 20px
                    width: 83%
                    background-color: $very-dark-blue
                    border-radius: 10px
                    .status__bar--value
                         width: 81%
                         height: 14px
                         background: linear-gradient(to right,$gradient1, $gradient2)
                         border-radius: 30px
                         margin-left: 5px
          &__lower
               display: flex
               justify-content: space-between
               margin: 0 40px
//*Footer
.attribution
     position: absolute
     bottom: 0
     font-size: 11px
     text-align: center

.attribution a
     color: hsl(228, 45%, 44%)

